# Ignore node_modules except for production dependencies
node_modules/
!node_modules/react-scripts/

# Ignore development files and directories
.dockerignore
.dockerignore.template
.git
.gitignore
.vscode
coverage
npm-debug.log
yarn-error.log
*.log
*.md
*.markdown
*.yml
*.yaml
.DS_Store
.env
.env.local
.env.*.local
