@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background:linear-gradient(135deg, #413F44, #010101);
  --primary: #1C1B1D;
  --secondary:#333;
  --color:white;
  --text:rgb(182,189,190);
}

:root{
  --background: linear-gradient(268deg, rgb(220, 235, 245), rgb(248, 254, 253));
  --primary:rgb(220, 235, 245);
  --secondary:white;
  --color:black;
  --text:rgb(77,84,84)
}

*, ::before, ::after{
  box-sizing: unset;
  border-width: 0;
  border-style: unset;}
body{
  background:var(--background);
  color:var(--color);
  font-family: sans-serif;
  margin: 0;
  display: flex;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: space-between;
}
