@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 245, 245, 245;
  --nt: 245, 245, 245;
  --inv: 0, 0, 0;
  --ninv: 245, 245, 245;
  --tog: 156, 163, 175;
  --togb: 229, 231, 235;
  --notf: 75, 85, 99;

  background: rgba(var(--background));
}

.dark {
  --background: 15, 23, 42;
  --nt: 30, 41, 59;
  --inv: 245, 245, 245;
  --ninv: 0, 0, 0;
  --tog: 29, 78, 216;
  --togb: 55, 65, 81;
  --notf: 0, 0, 0;

  background: rgba(var(--background));
}
