.homeScreen{
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans';
}
.headerClass{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 80px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  }
  
  .subheader{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 170px;
  }
  
  .link{
    background-color: linear-gradient(180deg, #2637CF 0%, rgba(112, 4, 150, 0.21) 100%);
  } 
  
  .shorturl{
    font-style: normal;
    font-weight: 600px;
    font-size: 24px;
  
    color: #005A93;
  }
  
  .mainClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
    padding-bottom: 60px;
  
    background-color: #ECECEC;
  }
  .sub-main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
  }
  
  .http{
    width: 111px;
    height: 71px;
  }
  
  .text-1{
    width: 177px;
    height: 27px;
  
    font-style: normal;
    font-weight: 600px;
    font-size: 20px;
  
    color: #FCAF26;
  }
  
  .text-2{
    width: 382px;
    height: 49px;
    display: flex;
    flex-direction: row;
  
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #2E2E2E;
  }
  
  .url{
    color: rgba(0, 109, 240, 1);
    padding: 0px 10px;
  }
  
  .containerClass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 66px;
  }
  
  .originalUrlContainer{
    box-sizing: border-box;
  
    width: 524px;
    height: 56px;
  
    background-color: #FFFFFF;
    border: 2px solid #B898D8;
    border-radius: 40px;
  
  }
  
  .shortBtn{
    margin-left: -131px;
    cursor: pointer;
  
    width: 130px;
    height: 54px;
  
    background: linear-gradient(280.11deg, #0042ED -16.88%, #AD8DD5 100%);
    border-radius: 24px;
    border: 1px solid #0042ED;
  
    font-style: normal;
    font-weight: 600px;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .hiddenContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .shortedUrl{
    display: flex;
    flex-direction: row;
    align-items:center;
  
    box-sizing: border-box;
  
    width: 100%;
    height: 56px;
  
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);;
    border-radius: 40px;
  }
  
  .shortUrlText{
    width: 84px;
    height: 22px;
  
    font-style: normal;
    font-weight: 600px;
    font-size: 16px;
  
    color: #2E2E2E;
  }
  
  .sUrl{
    width: 314px;
    height: 27px;

    font-style: normal;
    font-weight: 600px;
    font-size: 20px;
    line-height: 27px;
  
    color: #006DF0;
    
  }
  
  .copy{
    left: 12.5%;
    right: 16.67%;
    top: 8.33%;
    bottom: 8.33%;
    padding-left: 10px;
  }
  
  .copybtn{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .hiddenshortedUrl{
    width: 193px;
    height: 27px;
  
    font-style: normal;
    font-weight: 600px;
    font-size: 20px;
    line-height: 27px;
  
    color: #ec3636;
    padding-bottom: 34px;
  }
  
  .empty{
    width: 193px;
    height: 27px;
    
    padding-bottom: 34px;
  }



/* 
Responsive css for smaller device.
*/
  @media only screen and (max-width: 480px){
    /* CSS rules for standard mobile device */

    .headerClass{
      width: 410px;
      height: 56px;
    }
    
    .subheader{
    }
    
    .link{
      height: 19.99px;
      width: 19.99px;
    } 
    
    .shorturl{
      width: 135px;
      height: 27px;
    }
    
    .mainClass{
    }
    
    .http{
      width: 100px;
      height: 64px;
    }
    
    .text-1{
      width: 177px;
      height: 27px;
    }
    
    .text-2{
      width: 380px;
      height: 41px;
    }
    
    .url{
    }
    
    .containerClass{
    }
    
    .originalUrlContainer{
    
    }
    
    .shortBtn{
      margin-left: -90px;
    
      width: 90px;
      height: 35px;
      
    }
    
    .hiddenContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
    
      background-color: #ECECEC;
      padding-bottom: 160px;
    }
    
    .shortedUrl{
      display: flex;
      flex-direction: row;
      align-items:center;
    
      box-sizing: border-box;
    
      width: 372px;
      height: 46px;
      left: 458px;
      top: 551px;
    
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(255, 255, 255, 1);;
      border-radius: 40px;
    
    }
    
    .shortUrlText{
      width: 90px;
      height: 16px;
    
      font-family: 'Open Sans';
      font-style: normal; 
      font-weight: 500px; 
      font-size: 18px; 
      line-height: 18px; 
    
      color: #2E2E2E;

    }
    
    .sUrl{
      width: 230px;
      height: 26px;
      overflow: hidden ;
    
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600px;
      font-size: 20px;
      line-height: 27px;
    
      color: #006DF0;
      
    }
    
    .copy{
      left: 12.5%;
      right: 16.67%;
      top: 8.33%;
      bottom: 8.33%;
      padding-left: 10px;
      padding-right: 8px ;
    }
    
    .copybtn{
      padding: 0;
      border: none;
      background: none;
      cursor: pointer;
    }
    
    .hiddenshortedUrl{
      width: 193px;
      height: 27px;

    }
    
    .empty{
      width: 193px;
      height: 27px;
      
      padding-bottom: 34px;
    }
    
  }

::placeholder{
  font-size: 15px;
  padding-left: 7px;
}