.homeScreen{
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans';
}
.headerClass{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 80px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  }
  .subheader{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 170px;
  }
  
  .link{
    background-color: linear-gradient(180deg, #2637CF 0%, rgba(112, 4, 150, 0.21) 100%);
  } 
  
  .shorturl{
    font-style: normal;
    font-weight: 600px;
    font-size: 24px;
  
    color: #005A93;
  }
  
  .mainClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #ECECEC;
  }
  .sub-main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
  }
  
  .http{
    width: 111px;
    height: 71px;
  }
  
  .text-1{
    width: 177px;
    height: 27px;
  
    font-style: normal;
    font-weight: 600px;
    font-size: 20px;
  
    color: #FCAF26;
  }
  
  .text-2{
    width: 382px;
    height: 49px;
    display: flex;
    flex-direction: row;
  
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #2E2E2E;
  }
  
  .url{
    color: rgba(0, 109, 240, 1);
    padding: 0px 10px;
  }
  
  .containerClass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 66px;
  }
  
  .originalUrlContainer{
    box-sizing: border-box;
  
    width: 524px;
    height: 56px;
  
    background-color: #FFFFFF;
    border: 2px solid #B898D8;
    border-radius: 40px;
    padding-left: 20px;
  
  }
  
  .shortBtn{
    margin-left: -131px;
    cursor: pointer;
  
    width: 130px;
    height: 54px;
  
    background: linear-gradient(280.11deg, #0042ED -16.88%, #AD8DD5 100%);
    border-radius: 24px;
    border: 1px solid #0042ED;
  
    font-style: normal;
    font-weight: 600px;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .hiddenContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 460px;
    height: 50px;
  }
  
  .shortedUrl{
    display: flex;
    flex-direction: row;
    align-items:center;
  
    box-sizing: border-box;
  
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);;
    border-radius: 40px;
  }
  
  .shortUrlText{
    width: 95px;
    padding-right:0.1px;
    font-style: normal;
    font-weight: 600px;
    font-size: 18px;
    color: #2E2E2E;
  }
  
  .sUrl{
    width: 314px;
    padding-left: -1px;
    font-style: normal;
    font-weight: 600px;
    font-size: 18px;
  
    color: #006DF0;
  }
  .copybtn{
    padding: 3px;
    background-color: lightgray;
    border-radius: 5px;
    border: gray 1px solid;
    cursor: pointer;
  }
  .copybtn:hover{
    background-color: rgb(201, 201, 201);
  }
  .copybtn:active{
    background-color: rgb(168, 168, 168)
  }
  .tooltip{
    position: absolute;
    transform: translateY(-20px);
  }
  .hiddenshortedUrl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 27px;
  
    font-style: normal;
    font-weight: 600px;
    font-size: 20px;
  
    color: #ec3636;
  }
  ::placeholder{
    font-size: 19px;
  }

/* 
Responsive css for smaller device.
*/
  @media only screen and (max-width: 550px){
    /* CSS rules for standard mobile device */

    .headerClass{
      height: 56px;
    }
    .mainClass{
      height: calc(100vh - 56px);
    }
    .text-2{
      width: 250px;
      height: 49px;
      font-weight: 700;
      font-size: 25px;
      line-height: 49px;
    }
    .url{
      padding: 0px 5px;
    }
    .containerClass{
      width: 320px;
      height: 40px;
    }
    
    .originalUrlContainer{
      width: 100%;
    }
    .shortBtn{
      margin-left: -101px;
    
      width: 100px;
      height: 54px;
  
      font-weight: 600px;
      font-size: 16px;
    }
    
    .hiddenContainer{
      width: 320px;
      height: 50px;
    }
    .shortedUrl{
      width: 100%;
      height: 50px;
      padding: 0px 10px;
    }
    
    .shortUrlText{
      font-weight: 500px;
      font-size: 14px;
    }
    .sUrl{
      width: 304px;
      font-weight: 500px;
      font-size: 14px;
    }
    ::placeholder{
      font-size: 16px;
    }
  }
